header {
 position: relative;
 left: 0;
 top: 0;
 width: 100%;
 padding: 20px 0;
 color: #fff;
 background: #383838;
 margin-bottom: 30px;
}

header h1 {
 font-weight: 300;
 font-size: 24px;
 color: #eee;
 letter-spacing: 2px;
 text-align: center;
 text-transform: uppercase;
 margin: 0 !important;
}

header p {
 margin-bottom: 0;
}
